*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.card{
  cursor: pointer;
  border-radius: 4px;
}
.card:hover{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  color: chartreuse;
  border: 2px solid lightcoral;
}

.col-lg-5{
  flex: .4;
}
.col-lg-5 img{
  width: 20rem;
  border-radius: 5px;
}

.sproduct{
  max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}
.two_data{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desc{
  margin-top: 54px;
font-weight: 400;

}

@media only screen and (max-width: 600px) {
 .row {
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
 }
 .col-lg-5 img{
  display: flex;
  align-items: center;
  justify-content: center;
 }
}
@media only screen and (max-width: 976px){
  .row {
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
   }
}